@import '../../styles/settings.scss';

.nav{
    background-color: darken($color-dark, 3%);
    margin-top: 0;
    padding: 15px;
}
.flex{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}


.item_left a{
    display: inline;
    float: left;
    color: white;
}
.item_right a{
    display: inline;
    float: right;
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
.text{
    text-align: center;
    margin-top: 20px;
}