@import '../../styles/settings.scss';

.nav{
    background-color: darken($color-dark, 3%);
    margin-top: 0;
    padding: 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
a{
    margin-left: 15px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.item_left{
    flex-grow: 2;
}
.item_right{
    flex-grow: 0;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}