@import '../../styles/settings.scss';

.nav{
    background-color: darken($color-dark, 3%);
    margin-top: 0;
    padding: 15px;
}
.flex{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}


.item_left a{
    display: inline;
    float: left;
    color: white;
    font-weight: 700;
}
.item_right a{
    display: inline;
    float: right;
    color: aliceblue;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 700;
}
.text{
    text-align: center;
    margin-top: 20px;
}
.item_left a:hover,
.item_left a:focus,
.item_left a:active {
    color: $color-warning;
    cursor: pointer;
}

.item_right a:hover,
.item_right a:focus,
.item_right a:active {
    color: $color-warning;
    cursor: pointer;
}


